<html>
  <head>
    <title>Table</title>
    <style>...</style>
  </head>
  <body>
    <table>
     <tr><th>....</th></tr>
    {{#metrics}}
      <tr>
        <td>{{name}}</td>
        ...
      </tr>
    {{/metrics}}
  </body>
</html>